<launch>
  <node name="usb_cam_0" pkg="usb_cam" type="usb_cam_node" output="screen" >
   	<param name="video_device" value="/dev/video0" />
   	<param name="image_width" value="640" />
   	<param name="image_height" value="480" />
   	<param name="pixel_format" value="yuyv" />
   	<param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="5" />
  </node>
  <!-- /dev/video1 is a metadata device -->
  <node name="usb_cam_1" pkg="usb_cam" type="usb_cam_node" output="screen" >
   	<param name="video_device" value="/dev/video2" />
   	<param name="image_width" value="640" />
   	<param name="image_height" value="480" />
   	<param name="pixel_format" value="yuyv" />
   	<param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="5" />
  </node>

  <node pkg="rosbag" type="record" name="rosbag_record_cameras"
    args="record -o /media/muddsub/writable/muddsub_recordings/cameras
      /usb_cam_0/image_raw/compressed
      /usb_cam_1/image_raw/compressed" />
</launch>
