[submodule "thirdparty/control-toolbox"]
	path = thirdparty/control-toolbox
	url = https://github.com/muddsub/control-toolbox
[submodule "thirdparty/kindr"]
	path = thirdparty/kindr
	url = https://github.com/ANYbotics/kindr.git
[submodule "thirdparty/pigpio"]
	path = thirdparty/pigpio
	url = https://github.com/joan2937/pigpio
[submodule "thirdparty/matplotlib-cpp"]
	path = thirdparty/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "thirdparty/tqdm-cpp"]
	path = thirdparty/tqdm-cpp
	url = https://github.com/tqdm/tqdm.cpp
[submodule "thirdparty/cpptqdm"]
	path = thirdparty/cpptqdm
	url = https://github.com/aminnj/cpptqdm
[submodule "thirdparty/uuv_simulator"]
	path = thirdparty/uuv_simulator
	url = https://github.com/muddsub/uuv_simulator
[submodule "thirdparty/zed-ros-wrapper"]
	path = thirdparty/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "thirdparty/zed-ros-examples"]
	path = thirdparty/zed-ros-examples
	url = https://github.com/stereolabs/zed-ros-examples
[submodule "thirdparty/uuv_simulator/"]
	branch = master
[submodule "thirdparty/BlueRobotics_MS5837_Library"]
	path = thirdparty/BlueRobotics_MS5837_Library
	url = https://github.com/MuddSub/BlueRobotics_MS5837_Library
[submodule "thirdparty/imu_vn_100"]
	path = thirdparty/imu_vn_100
	url = https://github.com/muddsub/imu_vn_100
[submodule "thirdparty/ms5837-python"]
	path = thirdparty/ms5837-python
	url = https://github.com/MuddSub/ms5837-python
[submodule "thirdparty/dvl-python"]
	path = thirdparty/dvl-python
	url = https://github.com/MuddSub/dvl-python
