<?xml version='1.0'?>
<robot name="Buoy" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find sim)/scenes/materials.xacro" />
  <pose>0 0 0 0 0 0</pose>
  <self_collide> 0 </self_collide>
  <static>true</static>

  <link name='red_buoy'>
      <pose>-1.2 0 2.5 0 0 0</pose>
      <inertial>
        <mass value="20"></mass>
        <origin x="0" y="0" z="-0.1"/>
        <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10"/>
      </inertial>
      <visual name='red_vis'>
        <material name="red"/>
        <geometry>
          <sphere radius='0.14'/>
        </geometry>
      </visual>
      <collision name='red_collide'>
        <geometry>
          <sphere radius='0.14'/>
        </geometry>
      </collision>
    </link>

</robot>
