<?xml version="1.0"?>

<!DOCTYPE UWSimScene SYSTEM "MuddSubUWSimScence.dtd" >

<UWSimScene xmlns:xacro="http://www.ros.org/wiki/xacro">
  <oceanState>
    <windx> 0.04 </windx>
    <windy> 0.04 </windy>
    <windSpeed> 12 </windSpeed>
    <depth> 1000 </depth>
    <reflectionDamping> 0.35 </reflectionDamping>
    <waveScale> 1e-7 </waveScale>
    <isNotChoppy> 0 </isNotChoppy>
    <choppyFactor> 0.5 </choppyFactor>
    <crestFoamHeight> 2.2 </crestFoamHeight>
    <oceanSurfaceHeight> 0 </oceanSurfaceHeight>
    <fog>
      <density> 0.1 </density>
      <color>
      	<r>0</r>
      	<g>0.05</g>
      	<b>0.3</b>
      </color>
    </fog>
    <color>
      <r>0.0</r>
      <g>0.05</g>
      <b>0.3</b>
    </color>
    <attenuation>
      <r>0.015</r>
      <g>0.0075 </g>
      <b> 0.005 </b>
    </attenuation>
  </oceanState>
  <simParams>
    <disableShaders> 0 </disableShaders>
    <resw> 800 </resw>
    <resh> 600 </resh>
    <offsetp>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </offsetp>
    <offsetr>
      <x> 3.14</x>
      <y> 0</y>
      <z> -1.57 </z>
    </offsetr>
  </simParams>
  <camera>
    <freeMotion> 1 </freeMotion>
    <objectToTrack>Alfie/base_link</objectToTrack>
    <fov> 60 </fov>
    <aspectRatio> 1.33 </aspectRatio>
    <near> 1 </near>
    <far> 10000 </far>
    <position>
      <x>-5</x>
      <y>-5 </y>
      <z>8 </z>
    </position>
    <lookAt>
      <x>0</x>
      <y>0 </y>
      <z>0 </z>
    </lookAt>
  </camera>

  <vehicle>
    <name>Alfie</name>
    <file>$(find core)/descriptions/alfie.urdf</file>
    <position>
      <x> 0</x>
      <y> 0 </y>
      <z> 0 </z>
    </position>
    <orientation>
      <r>0</r>
      <p>0</p>
      <y>-1.57</y>
    </orientation>
    <xacro:include filename="$(find sim)/scenes/sensors.xacro" />
    <xacro:camera name="front_left" down="0"/>
    <xacro:camera name="front_right" down="0"/>
    <xacro:camera name="down" down="1"/>
    <xacro:dvl />
  </vehicle>

  <vehicle>
    <name>Gate</name>
    <file>$(find sim)/scenes/gate.urdf</file>
    <position>
      <x> 1 </x>
      <y> 1 </y>
      <z> 1 </z>
    </position>
    <orientation>
      <r>-1.57</r>
      <p>0</p>
      <y>0</y>
    </orientation>
  </vehicle>

 <vehicle>
   <name> buoy </name>
   <file>$(find sim)/scenes/buoy.urdf</file>
   <position>
     <x> 0</x>
     <y> -2 </y>
     <z> .25 </z>
   </position>
   <orientation>
     <r>0</r>
     <p>0</p>
     <y>0</y>
   </orientation>
</vehicle>
<vehicle>
  <name> bannerbuoy </name>
  <file>$(find sim)/scenes/bannerbuoy.urdf</file>
  <position>
    <x> 2 </x>
    <y> 2 </y>
    <z> 0.5 </z>
  </position>
  <orientation>
    <r>-1.57</r>
    <p>0</p>
    <y>0</y>
  </orientation>
</vehicle>

  <object>
    <name>terrain</name>
    <file>terrain/CIRS/cirs_trident.osg</file>
    <position>
      <x> 0</x>
      <y> 0 </y>
      <z> 0 </z>
    </position>
    <orientation>
      <r>0</r>
      <p>0</p>
      <y>0</y>
    </orientation>
    <offsetp>
      <x>-1.5</x>
      <y>-3.0</y>
      <z>0</z>
    </offsetp>
    <offsetr>
      <x> 3.1415</x>
      <y> 0</y>
      <z> -1.57 </z>
    </offsetr>
  </object>

  <object>
    <name> blackbox </name>
    <file> objects/blackbox_uib_trimesh.osg </file>
    <position>
      <x> 0</x>
      <y> 0 </y>
      <z> 4.8 </z>
    </position>
    <orientation>
      <r>0</r>
      <p>0</p>
      <y>-1.57</y>
    </orientation>
 </object>

 <!-- <object>
    <name> gate </name>
    <file> sim/scenes/meshes/gate.osg  </file>
    <position>
      <x> 0 </x>
      <y> 0 </y>
      <z> 0 </z>
    </position>
    <orientation>
      <r>0</r>
      <p>3.1415</p>
      <y>0</y>
    </orientation>
    <scaleFactor>
      <x> .5 </x>
      <y> .5 </y>
      <z> .5 </z>
    </scaleFactor>
</object> -->

  <rosInterfaces>
    <ROSOdomToPAT>
      <topic> /robot_state </topic>
      <vehicleName> Alfie </vehicleName>
    </ROSOdomToPAT>
    <PATToROSOdom>
      <topic> /uwsim/alfie_odom </topic>
      <vehicleName> Alfie </vehicleName>
    </PATToROSOdom>
    <VirtualCameraToROSImage>
      <cameraName>camera_front_left</cameraName>
      <imageTopic> /cameras/front_left/raw </imageTopic>
      <infoTopic> /cameras/front_left/info </infoTopic>
    </VirtualCameraToROSImage>
    <VirtualCameraToROSImage>
      <cameraName>camera_front_right</cameraName>
      <imageTopic> /cameras/front_right/raw </imageTopic>
      <infoTopic> /cameras/front_right/info </infoTopic>
    </VirtualCameraToROSImage>
    <VirtualCameraToROSImage>
      <cameraName>camera_down</cameraName>
      <imageTopic> /cameras/down/raw </imageTopic>
      <infoTopic> /cameras/down/info </infoTopic>
    </VirtualCameraToROSImage>
    <DVLSensorToROS>
      <name>dvl</name>
      <topic> /dvl/data </topic>
      <rate> 10 </rate>
    </DVLSensorToROS>
  </rosInterfaces>



</UWSimScene>
