<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="cam_res_width" default="1288"/>
  <xacro:property name="cam_res_height" default="964"/>
  <xacro:property name="cam_fov" default = "109"/>

  <!-- angle defines position, vert defines whether it's vertical (1) or horizontal (0), orientation is angle it's facing (0 if vert) -->
  <xacro:macro name="camera" params="name down">
    <virtualCamera>
      <name>camera_${name}</name>
      <relativeTo>camera_${name}_link</relativeTo>
      <resw> ${cam_res_width} </resw>
      <resh> ${cam_res_height} </resh>
      <position>
        <x>${(1-down)*.1}</x>
        <y>0</y>
        <z>${down*.1}</z>
      </position>
      <orientation>
        <r>0</r>
        <p>0</p>
        <y>0</y>
      </orientation>
    </virtualCamera>
  </xacro:macro>

  <xacro:macro name="dvl">
    <dvlSensor>
      <name>dvl</name>
      <relativeTo>dvl_link</relativeTo>
      <position>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </position>
      <orientation>
        <r>0</r>
        <p>0</p>
        <y>0</y>
      </orientation>
    </dvlSensor>
  </xacro:macro>

</robot>
