<!-- 
Launch this file for complete object detection (camera + detection).

This launch file imports left_camera.launch and object_detection.launch, 
and sets up the vision_output node using the VisionOutput.py executable.
-->

<launch>
    
    <include file="$(find vision)/left_camera.launch">
        <arg name="camera_name" value="left_camera" />
        <arg name="video_device" value="/dev/video0" />
        <arg name="image_width" value="640" />
        <arg name="image_height" value="480" />
        <arg name="camera_frame_id" value="left_camera" />
    </include>

    <include file="$(find vision)/object_detection.launch">
        <arg name="camera_name" value="left_camera" />
    </include>
    <node name="vision_output" pkg="vision" type="VisionOutput.py" args="left_camera"/>
</launch>
