<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    Some examples of sensors that can be added to the vehicle frame.
    Set the origin of the sensor frames correctly for your application
    Look into the sensor macros in the package uuv_sensor_ros_plugins/urdf for
    more examples or add you own custom sensor units.
  -->

  <!-- DVL  -->
  <xacro:dvl_a50 namespace="${namespace}" parent_link="${namespace}/base_link"
    suffix=""
    reference_frame="world_ned"
    update_rate="7"
    topic="dvl"
    noise_sigma="0"
    noise_amplitude="0">
    <origin xyz=".1 0 0.00635" rpy="${pi} 0 0" />
  </xacro:dvl_a50>


  <!-- Mount a camera  -->
  <!-- <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_camera> -->

  <xacro:default_imu_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="world_ned">
    <origin xyz="0 0 0" rpy="${pi} 0 0"/>
  </xacro:default_imu_macro>

</robot>
