<launch>
  <param name="robot_name" value="alfie" />
  <param name="robot_description"
    command="rosrun xacro xacro $(find core)/descriptions/alfie_description/robots/default.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <node name="parse_robot" pkg="core" type="ParseDynamicsToParams.py" output="screen">
    <param name="~urdf_name" value="robot_description"/>
    <param name="~base_link" value="base_link"/>
  </node>
</launch>
