<launch>
    <node name="teensy_interface" pkg="drivers" type="teensy_interface.py" output="screen" />
    <!-- <node name="depth_controller" pkg="drivers" type="DepthController.py" output="screen" /> -->
    <node name="straight_forward" pkg="mission" type="StraightForward.py" output="screen" />
    <include file="$(find mission)/depth_controller.launch">
        <arg name="desired_depth" value="0.9" />
    <include />
    <include file="$(find vision)/complete_left_camera.launch" />
    <node pkg="rosbag" type="record" name="rosbag_record"
    args="record -a -j -o /media/muddsub/3338-3831/muddsub_recordings/" />
</launch>
