<launch>
    <arg name="output" default="screen"/>
    <node name="teensy_interface" pkg="drivers" type="teensy_interface.py" output="$(arg output)" respawn="true" />

    <node name="imu_wrapper" pkg="drivers"
     type="imu_wrapper.py" output="screen"/>

    <param name="startup_delay_secs" value="7"/>
    <param name="forward_time_secs" value="17"/>
    <param name="drift_time_secs" value="0"/>
    <param name="roll_time_secs" value="13"/>
    <param name="depth_Kp" value="800"/>
    <param name="desired_depth" value="0.75"/>
    <param name="yaw_Kp" value="60"/>
    <node name="mission" pkg="mission" type="Mission.py" output="$(arg output)" />

    <include file="$(find drivers)/launch/mission_record_everything.launch" />
</launch>
