<launch>
  <include file="$(find drivers)/launch/drive_motors.launch"/>

  <!-- silly slam -->
  <node name="silly_slam" pkg="slam" type="silly_slam.py" />

  <!-- Also run IMU and depth from here -->
  <include file="$(find imu_vn_100)/launch/imu.launch" />
  <node name="depth_sensor_jetson" pkg="drivers" type="depth_sensor_jetson.py" />

  <include file="$(find controls)/launch/control_dispatch.launch"/>

  <!-- <include file="$(find vision)/launch/cams.launch"/> -->
</launch>
