<launch>
    <node name="teensy_interface" pkg="drivers" type="teensy_interface.py" />
    <node name="pwm_publisher" pkg="drivers" type="PWMPublisher.py" />
    <include file="$(find drivers)/drivers_cfg.launch" />
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="-s reconfigure" />
</launch>