<?xml version='1.0'?>
<robot name="Alfie" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <pose>0 0 0.5 0 0 0</pose>
  <static>true</static>

  <link name="base_link">
    <inertial>
      <mass value="20"></mass>
      <origin x="0" y="0" z="-0.1"/>
      <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10"/>
    </inertial>
    <visual>
      <origin rpy="${pi} 0 0" xyz="0 0 0"/>
      <!-- <geometry>
        <mesh filename="$(find core)/descriptions/meshes/AlfieVisual.STL"/>
      </geometry> -->
    </visual>
    <underwater_dynamics>
      <buoyancy value="21"/>
      <center_of_buoyancy x="0" y = "0" z = "0.1" />
      <added_mass x="0" y="0" z="0" k="0" m="0" n="0" />
      <linear_damping_coeffs x="0" y="0" z="0" k="0" m="0" n="0" />
      <rate value="50" />
    </underwater_dynamics>
  </link>


  <link name="thruster_center" />
  <joint name="base_to_thruster_center" type="fixed">
    <parent link="base_link" />
    <child link="thruster_center"/>
    <origin xyz = "0 0 0" rpy = "0 0 0"/>
  </joint>

  <xacro:include filename="$(find core)/descriptions/thruster.xacro" />
  <xacro:thruster name="HFL" x=".277" y="-.277" z="-.049" vert="0" heading="${1*pi/4}" />
  <xacro:thruster name="HFR" x=".277" y=".277" z="-.049" vert="0" heading="${-1*pi/4}" />
  <xacro:thruster name="HBL" x="-.277" y="-.277" z="-.049" vert="0" heading="${-1*pi/4}" />
  <xacro:thruster name="HBR" x="-.277" y=".277" z="-.049" vert="0" heading="${pi/4}" />
  <xacro:thruster name="VFL" x=".12065" y="-.27887" z=".054" vert="1" heading="0" />
  <xacro:thruster name="VFR" x=".12065" y=".27887" z=".054" vert="1" heading="0" />
  <xacro:thruster name="VBL" x="-.12065" y="-.27887" z=".054"  vert="1" heading="0" />
  <xacro:thruster name="VBR" x="-.12065" y=".27887" z=".054" vert="1" heading="0" />

  <!-- ZYX Euler Angles. Cameras are weirdly rotated because of UWSim -->
  <xacro:include filename="$(find core)/descriptions/sensors.xacro" />
  <xacro:camera name="front_left" xyz=".2032 -.1016 -.0762" rpy="${-pi/2} 0 ${pi/2}"/>
  <xacro:camera name="front_right" xyz=".2032 .1016 -.0762" rpy="${-pi/2} 0 ${pi/2}"/>
  <xacro:camera name="down" xyz="0 0 0" rpy="${pi} 0 ${pi/2}"/>

  <xacro:dvl xyz="-.163 0 .0375" rpy="0 0 0"/>

</robot>
