<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="camera" params="name xyz rpy">
    <link name="camera_${name}_link" />
    <joint name="camera_${name}_joint" type="fixed">
      <parent link="base_link" />
      <child link="camera_${name}_link"/>
      <origin xyz = "${xyz}" rpy = "${rpy}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="dvl" params="xyz rpy">
    <link name="dvl_link" />
    <joint name="dvl_joint" type="fixed">
      <parent link="base_link" />
      <child link="dvl_link"/>
      <origin xyz = "${xyz}" rpy = "${rpy}"/>
    </joint>
  </xacro:macro>
</robot>
